<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Career Print</title>
  <meta name="de∫scription" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div>
    <h1>Career Print TEST</h1>
    <p>エンジニア・クリエイター向けスキルシート、職務経歴書を作成
        文字が入ります。文字が入ります。文字が入ります。文字が入ります。文字が入ります。
        文字が入∫ります。文字が入ります。文字が入ります。文字が入ります。</p>
  </div>
  <div>
    <form action="">
      <div class="profile">
        <input type="text" placeholder="氏名" class="column">
        <input type="text" placeholder="年齢" class="column">
        <p class="column">性別
            <input type="radio" name="性別" value="男性">男性
            <input type="radio" name="性別" value="女性" checked>女性
        </p>
        <input type="text" placeholder="最終学歴" class="column">
        <textarea rows="4" cols="40"placeholder="資格" class="column"></textarea>
        <textarea rows="4" cols="40"placeholder="自己PR" class="column"></textarea>
      </div>
      <div class="career">
        <div class="column">
          <input type="text" placeholder="社名">
          <button>項目から外す</button>
        </div>
        <div class="column">
          <input type="text" placeholder="社名">
          <button>項目から外す</button>
        </div>
      </div>
    </form>
  </div>
  <script src="js/scripts.js"></script>
</body>
</html>